<div class="large-container center-block">
    <h1><%= @article.title %></h1>
    <div>
        <p>Escrito por: <strong><%= @article.user.email %></strong></p>
        <% if @article.user.avatar.present? %>
            <%= image_tag url_for(@article.user.avatar), height: 150 %>
        <% end %>
    </div>
    <div class="margin-top">
        <p class="label">Categorias:</p> 
        <% @article.categories.each do |category| %>
            <span class="badge badge-pill padding" style="background-color:<%= category.color %>;">
                <%= link_to category.title, category, class:"text-white" %>
            </span>
        <% end %>
    </div>
    <div>
        <%= @article.content %>
    </div>

    <div>
        <% if current_user == @article.user %>
            <%= link_to 'Editar Articulo', edit_article_path(@article) %>
            <%= link_to 'Eliminar Articulo', @article, method: :delete %>
        <% end %>
    </div>
</div>